<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form (ngSubmit)="addUser()">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter username"
                        [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" placeholder="Enter email"
                    [(ngModel)]="email">
                </div>
                <div class="form-group">
                    <label>Phone #</label>
                    <input type="emtextail" class="form-control" name="phone" placeholder="Enter phone #"
                    [(ngModel)]="phone">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>